@model StaffBase.Models.Employee

@{
    ViewData["Title"] = "Новый Сотрудник";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Home">
    <div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Surname"></label>
            <input type="text" asp-for="Surname" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Phone"></label>
            <input type="text" asp-for="Phone" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="CompanyId"></label>
            <input type="text" asp-for="CompanyId" class="form-control form-control-sm" />
        </div>
        <!--
    <h3>Паспорт</h3>
    <div class="form-group">
        <label asp-for="Passport.Type"></label>
        <input type="text" asp-for="Passport.Type" class="form-control form-control-sm" />
    </div>
    <div class="form-group">
        <label asp-for="Passport.Number"></label>
        <input type="text" asp-for="Passport.Number" class="form-control form-control-sm" />
    </div>
    <h3>Отдел</h3>
    <div class="form-group">
        <label asp-for="Department.Name"></label>
        <input type="text" asp-for="Department.Name" class="form-control form-control-sm" />
    </div>
    <div class="form-group">
        <label asp-for="Department.Phone"></label>
        <input type="text" asp-for="Department.Phone" class="form-control form-control-sm" />
    </div> -->
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Вернуться к списку</a>
</div>